<div class="well well-lg">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
     </tr>
    </thead>

<tbody>
<div class='col-sm-12'>
    <% @photos.each do |photo|%>
      <div class='thumbs col-sm-3'><%= image_tag photo.images.standard_resolution.url %>
        <div class='caption'> <%= distance_of_time_in_words(Time.now, Time.at(photo.created_time.to_i),include_seconds: true) %></div>
      </div>
    <% end %>
</tbody>
</div>